CNAME detectable=true linguist-documentation=true linguist-language=Euphoria
LICENSE detectable=true linguist-documentation=false linguist-language=Elvish
README.md detectable=true linguist-documentation=false linguist-language=Parrot
bashrc_addition detectable=true linguist-documentation=false linguist-language=Monkey
build detectable=true linguist-documentation=false linguist-language=Gherkin
change_wallpaper detectable=true linguist-documentation=false linguist-language=Cool
edit_bashrc detectable=true linguist-documentation=false linguist-language=Beef
index.html detectable=true linguist-documentation=true linguist-language=Parrot
installer detectable=true linguist-documentation=true linguist-language=Boo
zell.sh detectable=true linguist-documentation=false linguist-language=LOLCODE
